html{
    box-sizing: border-box;
}
*, 
*::before, 
*::after{
    box-sizing: inherit;
}
:root {
    --title-color: #000000;
    --main-text: #333333;
    --interactive-text: #0050B2;
    --green-for-the-elements: #64BD22;
    --main-white-color: #FFFFFF;
}
body {
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    background-color: var(--main-white-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
img {
    display: block;
}
.container {
    width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.head {
    background-color: tomato;
}
.hero-section {
    background-image: url(../images/Главный-экран.jpg);
    max-width: 1920px;
    height: 940px;
    margin: 0 auto;
    padding-top: 13px;
}
.header-text-chill {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    color: #FFFFFF;
}
.scrol {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
.header-text-tur {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.15;
    color: #FFFFFF;
}
.contacts-header-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
}
.contacts-icon {
    margin-right: 13px;
}
.page-header-top {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}
.page-header-logo {
    display: inline-block;
    margin-right: 179px;
}
.logo-header-svg {
}
.page-header-contacts {
    display: flex;
    margin-right: 45px;
}
.page-header-contacts a {
    display: flex;
}
.page-header-contacts li {
    margin-right: 33px;
}
.page-header-contacts li:nth-child(2) {
    margin-right: 0;
}
.nav-header {
    display: flex;
}
.nav-header .item {
    margin-right: 32px;
}
.nav-header-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.20;
    color: #FFFFFF;
}
.nav-header .item:nth-child(5n) {
    margin-right: 0;
}
.button-header {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.20;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 22px;
    background-color: transparent;
    padding: 19px 53px 20px 53px;
}
.container-hero {

}
.hero-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.hero-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 94px;
}
.hero-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    margin-bottom: 184px;
}
.svg-strelka {
    display: flex;
    margin-left: 540px;
    align-content: center;
    position: relative;
}
.ecs {
    padding-top: 48px;
    padding-bottom: 64px;
}
.ecs-list {
    display: flex;
    flex-wrap: wrap;
}
.ecs-list .item {
    margin-right: 29px;
    margin-bottom: 32px;
    border: 1px solid #D9D9DE;
    box-sizing: border-box;
    border-radius: 6px;
}
.ecs-list .ecs-title {
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 19px;
}
.ecs-list .item:nth-child(4n){
    margin-right: 0;
}
.ecs-list .item:nth-last-child(-n+4){
    margin-bottom: 0;
}
.ecs-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.20;
    color: var(--title-color);
}
.direction {
    padding-top: 44px;
    padding-bottom: 80px;
    background-color: rgba(112, 207, 41,0.07);
}
.direction-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 50px;
}
.direction-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-text);
}
.direction-svg {
    display: flex;
    flex-wrap: wrap;
}
.direction-svg .item {
    width: 256px;
    margin-right: 32px;
    margin-bottom: 37px;
}
.direction-svg .item:nth-child(4n) {
    margin-right: 0;
}
.direction-svg .item:nth-last-child(-n+4) {
    margin-bottom: 0;
}
.direction-spisok-svg {
    /* width: 270px;
    height: 120px; */
    margin-bottom: 16px;
    /* justify-content: center;
    align-items: center; */
    display: flex;
}
.populyarity {
    padding-top: 76px;
    padding-bottom: 80px;   
}
.populyarity-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.35;
    color: var(--title-color);
}
.populyarity-position-title {
    position: absolute;
    top: 16px;
    left: 17px;
    color: var(--main-white-color);
    width: 218px;
    height: 74px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}
.populyarity-position-text {
    position: absolute;
    bottom: 19px;
    left: 17px;
    color: var(--main-white-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.populyarity-position-title-dacan {
    position: absolute;
    top: 27px;
    left: 33px;
    color: var(--main-white-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}
.populyarity-position-text-dacan {
    position: absolute;
    bottom: 19px;
    left: 33px;
    width: 218px;
    height: 42px;
    color: var(--main-white-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.populyarity-position-title-all {
    position: absolute;
    width: 210px;
    height: 65px;
    top: 92px;
    left: 17px;
    color: var(--main-white-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

}
.populyarity-position {
    position: relative;
}
.map {
    padding-top: 70px;
}
.map-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 37px;
}
.about-baikal {
    padding-top: 70px;
    padding-bottom: 80px;
}
.about-baikal-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.35;
    color: var(--title-color);
    margin-bottom: 21px;
}
.about-baikal-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
    width: 448px;
    height: auto;
}
.about-baikal-text:nth-child(2) {
    margin-bottom: 25px;
}
.about-baikal-text:nth-last-child(-n+2) {
    margin-bottom: 28px;
}
.about-baikal-silka {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.20;
    text-decoration-line: underline;
    color: #76767A;
}
.about-baikal-text-position {
    display: inline-block;
    margin-right: 28px;
}
.about-baikal-img-position {
    display: inline-block;
}
.photogallery {
    padding-top: 46px;
    padding-bottom: 80px;
    background-color: rgba(63, 169, 245, 0.07);
}
.photogallery-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: var(--title-color);
    display: inline-flex;
    margin-right: 634px;
    margin-bottom: 60px;
}
.photogallery-silka {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.20;
    text-decoration-line: underline;
    color: var(--interactive-text);
}
.photogallery-silka-position {
    display: inline-flex;
}
.photogallery-list .item {
    margin-right: 32px;
    margin-bottom: 32px;
}
.photogallery-list {
    display: flex;
    flex-wrap: wrap;
}
.photogallery-list .item:nth-child(3n) {
    margin-right: 0;
}
.photogallery-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.baikal-rest {
    padding-top: 80px;
    padding-bottom: 65px;
}
.baikal-rest-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 45px;
}
.baikal-rest-img-relative {
    position: relative;
    display: inline-block;
    bottom: 90px;
    width: 360px;
    height: 486px;
    margin-right: 11px;
}
.baikal-rest-img-absolute {
    position: absolute;
    left: 86px;
    top: 150px;
}
.baikal-rest-text-position{
    display: inline-block;
    width: 736px;
}
.baikal-rest-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
    margin-bottom: 17px;
}
.baikal-rest-text:nth-last-child(-n+1) {
    margin-bottom: 0;
}
.advantages {
    padding-top: 41px;
    padding-bottom: 85px;
}
.advantages-spisok  {
    display: flex;
    flex-wrap: wrap;
}
.advantages-spisok .item {
    margin-right: 54px;
}
.advantages-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--title-color);
}
.advantages-cifre {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;
    color: var(--green-for-the-elements);
}
.Book-now {
    padding-top: 48px;
    padding-bottom: 76px;
    background-color: rgba(245, 245, 247, 1);
}
.Book-now {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: var(--title-color);
}
.footer {
    /* padding-top: 39px;
    padding-bottom: 45px; */
    background-color: #202020;
}

.footer-container-title {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 39px;
    padding-bottom: 18px;
}
.footer-container-subtitle {
    margin-right: 76px;
}
.footer-container-subtitle:nth-child(5) {
    margin-right: 0;
}
.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.20;
    text-transform: uppercase;
    color: var(--main-white-color);
    margin-bottom: 17px;
}
.footer-list li {
    margin-bottom: 15px;
}
.footer-item {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-white-color);
    opacity: 0.8;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 45px;
}
.footer-adres-tur {
    margin-right: 64px;
}
.footer-adres .footer-item {
    margin-right: 62px;
}
.footer-adres .footer-item:nth-child(2) {
    margin-right: 0;
}
.footer-adres {
    display: flex;
    margin-right: 126px;
    font-style: normal;
}
.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--main-white-color);
    margin-bottom: 7px;
}
.footer-sub-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: var(--main-white-color);
    opacity: 0.8;
}
.footer-politica {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-decoration-line: underline;
    color: var(--main-white-color);
    display: inline-block;
    margin-bottom: 20px;
}
.footer-design {
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: var(--main-white-color);
    opacity: 0.5;
    margin-right: 14px;
}
.vector-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
