html{
    box-sizing: border-box;
}
*, 
*::before, 
*::after{
    box-sizing: inherit;
}
:root {
    --title-color: #000000;
    --main-text: #333333;
    --interactive-text: #0050B2;
    --green-for-the-elements: #64BD22;
    --main-white-color: #FFFFFF;
}
body {
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    background-color: var(--main-white-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
img {
    display: block;
}
.container {
    width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.hero-section {
    background-image: url(../images/Главный-экран.jpg);
    /* background-repeat: no-repeat;
    background-position: center; */
    max-width: 1920px;
    height: 940px;
    margin: 0 auto;
}
.ecs {
    padding-top: 48px;
    padding-bottom: 64px;
}
.ecs-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.20;
    color: var(--title-color);
}
.direction {
    padding-top: 44px;
    padding-bottom: 80px;
    background-color: rgba(112, 207, 41,0.07);
}
.direction-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: var(--title-color);
}
.direction-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-text);
}
.populyarity {
    padding-top: 76px;
    padding-bottom: 80px;   
}
.populyarity-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.35;
    color: var(--title-color);
}
.populyarity-position-title {
    position: absolute;
    top: 16px;
    left: 17px;
    color: var(--main-white-color);
    width: 218px;
    height: 74px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}
.populyarity-position-text {
    position: absolute;
    bottom: 19px;
    left: 17px;
    color: var(--main-white-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.populyarity-position-title-dacan {
    position: absolute;
    top: 27px;
    left: 33px;
    color: var(--main-white-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}
.populyarity-position-text-dacan {
    position: absolute;
    bottom: 19px;
    left: 33px;
    width: 218px;
    height: 42px;
    color: var(--main-white-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.populyarity-position-title-all {
    position: absolute;
    width: 210px;
    height: 65px;
    top: 92px;
    left: 17px;
    color: var(--main-white-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

}
.populyarity-position {
    position: relative;
}
.map {
    padding-top: 70px;
}
.map-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: var(--title-color);
}
.about-baikal {
    padding-top: 70px;
    padding-bottom: 80px;
}
.about-baikal-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.35;
    color: var(--title-color);
}
.about-baikal-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
}
.photogallery {
    padding-top: 46px;
    padding-bottom: 80px;
    background-color: rgba(63, 169, 245, 0.07);
}
.photogallery-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: var(--title-color);
}
.photogallery-silka {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.20;
    text-decoration-line: underline;
    color: var(--interactive-text);
}
.baikal-rest {
    padding-top: 80px;
    padding-bottom: 65px;
}
.baikal-rest-title {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
}
.baikal-rest-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
}
.advantages {
    padding-top: 41px;
    padding-bottom: 85px;
}
.advantages-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--title-color);
}
.advantages-cifre {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;
    color: var(--green-for-the-elements);
}
.Book-now {
    padding-top: 48px;
    padding-bottom: 76px;
    background-color: rgba(245, 245, 247, 1);
}
.Book-now {
    font-family: PT Serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: var(--title-color);
}
.footer {
    padding-top: 39px;
    padding-bottom: 45px;
    background-color: #202020;
}
.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.20;
    text-transform: uppercase;
    color: var(--main-white-color);
}
.footer-list {
font-weight: normal;
font-size: 16px;
line-height: 130%;
color: var(--main-white-color);
opacity: 0.8;
}
.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--main-white-color);
}
.footer-sub-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: var(--main-white-color);
    opacity: 0.8;
}
.footer-politica {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-decoration-line: underline;
    color: var(--main-white-color);
}
.footer-design {
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: var(--main-white-color);
    opacity: 0.5;
}
